$second-color: #434348;

.dataTable {
    margin-top: 60px;
    margin-bottom: 60px;
    
    th {
        background: $second-color;
        color: white;
    }

    tbody{
        tr{
            &:hover {
                background: #e7f0f9;
            }
        }
    }
}

.textRed {
    color: red;
}

.textGreen {
    color: green;
}